---
http_interactions:
- request:
    method: get
    uri: https://rest.coinapi.io/v1/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Coinapi-Key:
      - API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"asset_id\": \"BTC\",\r\n    \"name\": \"Bitcoin\",\r\n
        \   \"type_is_crypto\": 1,\r\n    \"data_start\": \"2010-07-17\",\r\n    \"data_end\":
        \"2018-06-28\",\r\n    \"data_quote_start\": \"2014-02-24T17:43:05.0000000Z\",\r\n
        \   \"data_quote_end\": \"2018-06-28T10:20:08.3213953Z\",\r\n    \"data_orderbook_start\":
        \"2014-02-24T17:43:05.0000000Z\",\r\n    \"data_orderbook_end\": \"2018-06-28T10:20:08.3213953Z\",\r\n
        \   \"data_trade_start\": \"2010-07-17T23:09:17.0000000Z\",\r\n    \"data_trade_end\":
        \"2018-06-27T14:10:04.0000000Z\",\r\n    \"data_trade_count\": 4063168130,\r\n
        \   \"data_symbols_count\": 8346\r\n  },\r\n  {\r\n    \"asset_id\": \"CNY\",\r\n
        \   \"name\": \"Yuan Renminbi\",\r\n    \"type_is_crypto\": 0,\r\n    \"data_start\":
        \"2011-06-13\",\r\n    \"data_end\": \"2018-06-28\",\r\n    \"data_quote_start\":
        \"2015-02-11T16:50:54.6130000Z\",\r\n    \"data_quote_end\": \"2018-06-28T02:19:58.0258620Z\",\r\n
        \   \"data_orderbook_start\": \"2015-02-11T16:50:54.6130000Z\",\r\n    \"data_orderbook_end\":
        \"2018-06-28T02:19:58.0258620Z\",\r\n    \"[...]
