---
http_interactions:
- request:
    method: get
    uri: https://rest.coinapi.io/v1/exchanges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Coinapi-Key:
      - API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"exchange_id\": \"BINANCE\",\r\n    \"website\": \"https://www.binance.com/\",\r\n
        \   \"name\": \"Binance\",\r\n    \"data_start\": \"2017-09-06\",\r\n    \"data_end\":
        \"2018-06-28\",\r\n    \"data_quote_start\": \"2017-12-18T21:50:58.3910192Z\",\r\n
        \   \"data_quote_end\": \"2018-06-28T10:05:12.3820000Z\",\r\n    \"data_orderbook_start\":
        \"2017-12-18T21:50:58.3910192Z\",\r\n    \"data_orderbook_end\": \"2018-06-28T10:05:12.3820000Z\",\r\n
        \   \"data_trade_start\": \"2017-09-06T10:29:03.1290000Z\",\r\n    \"data_trade_end\":
        \"2018-06-27T12:59:59.9470000Z\",\r\n    \"data_trade_count\": 460919764,\r\n
        \   \"data_symbols_count\": 380\r\n  },\r\n  {\r\n    \"exchange_id\": \"COINBASE\",\r\n
        \   \"website\": \"https://www.gdax.com/\",\r\n    \"name\": \"GDAX\",\r\n
        \   \"data_start\": \"2015-01-14\",\r\n    \"data_end\": \"2018-06-28\",\r\n
        \   \"data_quote_start\": \"2015-05-17T00:51:32.6370000Z\",\r\n    \"data_quote_end\":
        \"2018-06-28T10:04:32.9363156Z\",\r\n    \"data_orderbook_start\": \"2015-05-17T00:51:32.6370000Z\",\r\n
        \   \"data_orderbook_end\": \"2018-06-28T10:04:32.9363[...]
